Repository nathanvale/orchestr8: changes, and which lint-staged commands are due for each by the changed paths.
All: ./packages/quality-check/bin/pre-commit, prettier --write

feat: task 2 - implement vitest silent mode with environment detection
  .agent-os/cache/git-session.json
  .agent-os/recaps/2025-09-16-memory-optimization-complete.md
  vitest.config.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: task 3 - enhance logger environment detection for noise reduction
  packages/quality-check/src/utils/logger.ts
Due: ./packages/quality-check/bin/pre-commit

feat: task 4 - optimize package scripts and memory monitoring for noise reduction
  .agent-os/instructions/core/execute-tasks.md
  .npmrc
  package.json
  tests/setup/memory-monitor.ts
  turbo.json
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: task 5 - fix test infrastructure with git error suppression
  .agent-os/cache/context_registry.json
  packages/quality-check/src/utils/git-operations.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

docs: task 5.3-5.6 - add environment variables documentation and verify noise reduction
  .agent-os/instructions/core/execute-tasks.md
  ENVIRONMENT_VARIABLES.md
Due: prettier --write

chore: add changeset for test noise reduction feature
  .changeset/test-noise-reduction.md
Due: prettier --write

fix: update environment variables documentation for test noise reduction
  .agent-os/instructions/core/execute-tasks.md
  .changeset/test-noise-reduction.md
  ENVIRONMENT_VARIABLES.md
Due: prettier --write

fix: remove --silent flag that was causing more verbose output
  package.json
  scripts/quiet-test.sh
  vitest.config.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: further reduce test noise by mocking console in tests
  packages/quality-check/src/utils/logger-output-modes.test.ts
  vitest.setup.tsx
Due: ./packages/quality-check/bin/pre-commit

feat: implement test output noise reduction with VITEST_SILENT
  .agent-os/instructions/core/execute-tasks.md
  README.md
  packages/quality-check/src/core/quality-checker.ts
  packages/quality-check/src/test/performance.test.ts
  tests/setup/console-suppression.ts
  tests/setup/memory-cleanup.ts
  vitest.config.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: resolve environment-dependent test failures in memory monitoring
  README.md
  tests/setup/memory-monitor.ts
  tests/setup/memory-monitoring-hooks.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: enhance test noise reduction with targeted filtering
  packages/quality-check/tests/turborepo-validation.integration.test.ts
  tests/setup/console-suppression.ts
  turbo.json
Due: ./packages/quality-check/bin/pre-commit, prettier --write

style: apply markdown formatting from pre-commit hook
  .claude/commands/context/update.md
  CLAUDE.md
Due: prettier --write

fix: enable auto-staging in pre-commit hook
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --write

fix: remove redundant git add from lint-staged config
  .lintstagedrc.json
Due: prettier --write

refactor: use quality-check for all file types in pre-commit
  .lintstagedrc.json
Due: prettier --write

docs: update CLAUDE.md with comprehensive project guidance
  CLAUDE.md
Due: prettier --write

chore: remove outdated backup documentation files
  CLAUDE.backup.md
  CLAUDE.backup2.md
Due: prettier --write

docs: enhance CLAUDE.md with complete rules from .claude/CLAUDE.md
  CLAUDE.md
Due: prettier --write

chore: sync epic to GitHub - renamed task files to issue numbers #46-53
  .claude/agents/quality-check-fixer.md
  .claude/epics/quality-check-improvements/47.md
  .claude/epics/quality-check-improvements/48.md
  .claude/epics/quality-check-improvements/49.md
  .claude/epics/quality-check-improvements/50.md
  .claude/epics/quality-check-improvements/51.md
  .claude/epics/quality-check-improvements/52.md
  .claude/epics/quality-check-improvements/53.md
  .claude/epics/quality-check-improvements/epic.md
  .claude/epics/quality-check-improvements/github-mapping.md
  .claude/settings.json
Due: prettier --write

docs(#50): fix quality-check CLI syntax in documentation
  CLAUDE.md
Due: prettier --write

chore(#48): remove test-files directory containing demo/sample files
  packages/quality-check/test-files/test-claude-hook.ts
  packages/quality-check/test-files/test-demo.sh
  packages/quality-check/test-files/test-hook-demo.ts
  packages/quality-check/test-files/test-hook-payload.json
  packages/quality-check/test-files/test-live-demo.ts
  packages/quality-check/test-files/test-sample.ts
  packages/quality-check/test-files/test-simple.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

chore(#51): standardize package manager usage to pnpm
  .claude/commands/pm/epic-merge.md
  .claude/commands/testing/prime.md
  .claude/scripts/pm/init.sh
  .claude/testing-config.md
  CLAUDE.md
  README.md
  packages/quality-check/src/core/quality-checker.ts
  packages/quality-check/src/utils/logger-file-operations.test.ts
  packages/quality-check/src/utils/logger.ts
  packages/voice-vault/PLAN.md
  wallaby-main-test-results.md
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix(#53): replace exec with spawn for all git operations
  packages/quality-check/src/core/file-matcher.ts
  packages/quality-check/src/facades/git-hook.ts
  packages/quality-check/src/utils/git-operations.test.ts
  packages/quality-check/src/utils/git-operations.ts
  packages/quality-check/src/utils/secure-git-operations.test.ts
  packages/quality-check/src/utils/secure-git-operations.ts
Due: ./packages/quality-check/bin/pre-commit

feat(#52): implement ESLint fixTypes configuration for safe and full fix modes
  .claude/epics/quality-check-improvements/epic.md
  .claude/epics/quality-check-improvements/github-mapping.md
  packages/quality-check/src/core/config-loader.ts
  packages/quality-check/src/core/quality-checker.ts
  packages/quality-check/src/engines/eslint-engine.fix-modes.test.ts
  packages/quality-check/src/engines/eslint-engine.ts
  packages/quality-check/src/facades/cli.fix-modes.test.ts
  packages/quality-check/src/facades/cli.ts
  packages/quality-check/src/types.ts
  packages/quality-check/src/utils/environment.ts
  packages/quality-check/src/utils/environment.unit.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

test: fix git operations tests after spawn refactoring
  packages/quality-check/src/core/file-matcher.test.ts
  packages/quality-check/src/facades/git-hook.auto-staging-advanced.test.ts
  packages/quality-check/src/facades/git-hook.auto-staging-basic.test.ts
  packages/quality-check/src/facades/git-hook.test.ts
  packages/quality-check/src/utils/git-operations.test.ts
Due: ./packages/quality-check/bin/pre-commit

fix: resolve ESLint and TypeScript cache configuration issues
  .claude/CLAUDE.md
  .claude/agents/wallaby-tdd.md
  .claude/epics/quality-check-improvements/execution-status.md
  .claude/rules/test-execution.md
  CLAUDE.md
  ENVIRONMENT_VARIABLES.md
  README.md
  STATUS.md
  claude-sequential-processing-model-report.md
  ithp
  packages/quality-check/src/engines/eslint-engine.ts
  packages/quality-check/src/facades/cli.fix-modes.test.ts
  wallaby-main-test-results.md
  wallaby-test-report.md
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: address CodeRabbit review findings
  packages/quality-check/src/core/config-loader.ts
  packages/quality-check/src/facades/git-hook.auto-staging-advanced.test.ts
  packages/quality-check/src/utils/secure-git-operations.ts
Due: ./packages/quality-check/bin/pre-commit

test: fix secure-git-operations tests after spawn option changes
  packages/quality-check/src/utils/secure-git-operations.test.ts
Due: ./packages/quality-check/bin/pre-commit

test: fix timeout test timing and fake timer handling
  packages/quality-check/src/utils/secure-git-operations.test.ts
Due: ./packages/quality-check/bin/pre-commit

test: fix mock child process kill method to be a spy
  packages/quality-check/src/utils/secure-git-operations.test.ts
Due: ./packages/quality-check/bin/pre-commit

feat: add specialized agent configurations
  .claude/agents/code-reviewer.md
  .claude/agents/dx-optimizer.md
  .claude/agents/error-detective.md
  .claude/agents/frontend-developer.md
  .claude/agents/prompt-engineer.md
  .claude/agents/tdd-orchestrator.md
  .claude/agents/typescript-pro.md
Due: prettier --write

feat: add test-suite-optimization epic and tasks
  .claude/epics/test-suite-optimization/001.md
  .claude/epics/test-suite-optimization/002.md
  .claude/epics/test-suite-optimization/003.md
  .claude/epics/test-suite-optimization/004.md
  .claude/epics/test-suite-optimization/005.md
  .claude/epics/test-suite-optimization/006.md
  .claude/epics/test-suite-optimization/007.md
  .claude/epics/test-suite-optimization/008.md
  .claude/epics/test-suite-optimization/009.md
  .claude/epics/test-suite-optimization/010.md
  .claude/epics/test-suite-optimization/011.md
  .claude/epics/test-suite-optimization/012.md
  .claude/epics/test-suite-optimization/013.md
  .claude/epics/test-suite-optimization/014.md
  .claude/epics/test-suite-optimization/015.md
  .claude/epics/test-suite-optimization/016.md
  .claude/epics/test-suite-optimization/017.md
  .claude/epics/test-suite-optimization/018.md
  .claude/epics/test-suite-optimization/019.md
  .claude/epics/test-suite-optimization/020.md
  .claude/epics/test-suite-optimization/021.md
  .claude/epics/test-suite-optimization/epic.md
  .claude/prds/test-suite-optimization.md
Due: prettier --write

feat: implement Phase 0 infrastructure for test suite optimization
  .claude/epics/test-suite-optimization/001-analysis.md
  .claude/epics/test-suite-optimization/001.md
  .claude/epics/test-suite-optimization/002-analysis.md
  .claude/epics/test-suite-optimization/002.md
  .claude/epics/test-suite-optimization/003-analysis.md
  .claude/epics/test-suite-optimization/003.md
  .claude/epics/test-suite-optimization/004.md
  .claude/epics/test-suite-optimization/005.md
  .claude/epics/test-suite-optimization/006.md
  .claude/epics/test-suite-optimization/007.md
  .claude/epics/test-suite-optimization/008.md
  .claude/epics/test-suite-optimization/009.md
  .claude/epics/test-suite-optimization/010.md
  .claude/epics/test-suite-optimization/011.md
  .claude/epics/test-suite-optimization/012.md
  .claude/epics/test-suite-optimization/013.md
  .claude/epics/test-suite-optimization/014.md
  .claude/epics/test-suite-optimization/015.md
  .claude/epics/test-suite-optimization/016.md
  .claude/epics/test-suite-optimization/017.md
  .claude/epics/test-suite-optimization/018.md
  .claude/epics/test-suite-optimization/019.md
  .claude/epics/test-suite-optimization/020.md
  .claude/epics/test-suite-optimization/021.md
  .claude/epics/test-suite-optimization/epic.md
  .claude/epics/test-suite-optimization/execution-status.md
  .claude/metrics/.gitkeep
  .claude/prds/test-suite-optimization.md
  scripts/categorize-tests.sh
  scripts/detect-zombies.sh
  scripts/memory-baseline.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete Phase 0 baseline capture for test suite optimization
  .claude/epics/test-suite-optimization/execution-status.md
  .claude/metrics/baseline-memory-2025-09-19T10-12-00.json
  .claude/metrics/test-inventory-20250919-201113.json
  scripts/memory-baseline.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: launch Task #004 zombie process tracking system implementation
  .claude/epics/test-suite-optimization/004-analysis.md
  .claude/epics/test-suite-optimization/execution-status.md
Due: prettier --write

Path conditions:
  ./packages/quality-check/bin/pre-commit: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
