Repository nathanvale/orchestr8: changes, and which lint-staged commands are due for each by the changed paths.
All: ./packages/quality-check/bin/pre-commit, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["./packages/quality-check/bin/pre-commit"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

style: format files with prettier
  .agent-os/recaps/2025-09-12-task-3-graceful-degradation-complete.md
  .agent-os/specs/2025-09-09-fix-first-hooks-architecture/tasks.md
Due: prettier --write

fix: resolve TypeScript errors in git-hook facade
  packages/quality-check/src/facades/git-hook.ts
Due: ./packages/quality-check/bin/pre-commit

feat: implement fix-first architecture for QualityChecker
  .agent-os/specs/2025-09-09-fix-first-hooks-architecture/tasks.md
  packages/quality-check/src/core/quality-checker.fix-first.test.ts
  packages/quality-check/src/core/quality-checker.ts
  packages/quality-check/src/engines/eslint-engine.ts
  packages/quality-check/src/engines/eslint-engine.unit.test.ts
  packages/quality-check/src/engines/prettier-engine.ts
  packages/quality-check/src/engines/prettier-engine.unit.test.ts
  packages/quality-check/src/types.ts
  packages/quality-check/src/utils/logger.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete Task 1.3 - implement auto-staging logic in QualityChecker
  .agent-os/specs/2025-09-09-fix-first-hooks-architecture/tasks.md
  packages/quality-check/src/utils/git-operations.test.ts
  packages/quality-check/src/utils/git-operations.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: finalize fix-first hooks architecture implementation
  .agent-os/recaps/2025-09-12-fix-first-hooks-architecture-task-1-foundation.md
  packages/quality-check/src/core/quality-checker.fix-first.test.ts
  packages/quality-check/src/core/quality-checker.ts
  packages/quality-check/src/formatters/aggregator.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: correct DetectModifiedFilesResult usage in git-hook facade
  packages/quality-check/src/facades/git-hook.ts
Due: ./packages/quality-check/bin/pre-commit

feat: complete fix-first hooks architecture implementation
  .agent-os/recaps/2025-09-09-fix-first-hooks-architecture.md
  .agent-os/recaps/2025-09-12-task-1-verification-complete.md
  .agent-os/specs/2025-09-09-fix-first-hooks-architecture/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-09-fix-first-hooks-architecture/tasks.md
  packages/quality-check/src/adapters/fixer.ts
  packages/quality-check/src/core/quality-checker.performance.test.ts
  packages/quality-check/src/facades/claude.ts
  packages/quality-check/src/facades/git-hook.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: add missing break statements in switch cases
  packages/quality-check/src/facades/claude.ts
Due: ./packages/quality-check/bin/pre-commit

style: fix formatting in markdown files
  .agent-os/recaps/2025-09-09-fix-first-hooks-architecture.md
  .agent-os/recaps/2025-09-12-task-1-verification-complete.md
  .agent-os/specs/2025-09-09-fix-first-hooks-architecture/tasks.md
Due: prettier --write

feat: implement Turborepo configuration for Prettier caching
  .agent-os/cache/common-contexts.txt
  .agent-os/cache/context-registry.json
  .agent-os/cache/execution-manifest.json
  .agent-os/cache/git-session.json
  .agent-os/specs/2025-09-11-prettier-turborepo-caching/tasks.md
  tests/turbo-config-validation.test.ts
  turbo.json
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: implement comprehensive local cache management tests and configuration
  tests/local-cache-compression.test.ts
  tests/local-cache-hashing.test.ts
  tests/local-cache-integration.test.ts
  tests/local-cache-lru.test.ts
  tests/local-cache-management.test.ts
  tests/local-cache-performance.test.ts
  tests/local-cache-storage.test.ts
  turbo.json
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete local cache management implementation with performance monitoring
  .agent-os/cache/context-registry.json
  package.json
  scripts/cache-monitor.ts
  tests/local-cache-compression.test.ts
  tests/local-cache-lru.test.ts
  tests/local-cache-management.test.ts
  tests/local-cache-storage.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete remote cache integration with comprehensive testing
  .agent-os/cache/context-registry.json
  .env.example
  .github/workflows/ci.yml
  .github/workflows/nightly-performance.yml
  .github/workflows/release.yml
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/src/remote-cache.test.ts
  packages/api/src/remote-cache.ts
  packages/api/src/utils/jwt.test.ts
  packages/api/src/utils/jwt.ts
  packages/api/tsconfig.json
  packages/api/tsup.config.ts
  packages/api/vitest.config.ts
  turbo.json
Due: ./packages/quality-check/bin/pre-commit, prettier --write

refactor: remove deprecated API package and related tests
  .agent-os/cache/context-registry.json
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/src/remote-cache.test.ts
  packages/api/src/remote-cache.ts
  packages/api/src/utils/jwt.test.ts
  packages/api/src/utils/jwt.ts
  packages/api/tsconfig.json
  packages/api/tsup.config.ts
  packages/api/vitest.config.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: task 4 - incremental formatting implementation
  .github/workflows/ci.yml
  tests/git-change-detection.test.ts
  tests/incremental-formatting.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: task 5 - performance monitoring and developer experience
  package.json
  scripts/performance-monitor.ts
  tests/performance-monitoring.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

style: fix formatting issues with Prettier
  .agent-os/cache/context-registry.json
  .agent-os/cache/execution-manifest.json
  .agent-os/cache/git-session.json
  .agent-os/specs/2025-09-11-prettier-turborepo-caching/tasks.md
Due: prettier --write

fix: update tests for Prettier Turborepo caching configuration
  .agent-os/specs/2025-09-11-prettier-turborepo-caching/tasks.md
  package.json
  packages/quality-check/tests/package-build-consistency.integration.test.ts
  tests/local-cache-integration.test.ts
  tests/turbo-config-validation.test.ts
  turbo.json
Due: ./packages/quality-check/bin/pre-commit, prettier --write

refactor: remove outdated local cache tests
  tests/git-change-detection.test.ts
  tests/incremental-formatting.test.ts
  tests/local-cache-compression.test.ts
  tests/local-cache-hashing.test.ts
  tests/local-cache-integration.test.ts
  tests/local-cache-lru.test.ts
  tests/local-cache-performance.test.ts
  tests/local-cache-storage.test.ts
  tests/performance-monitoring.test.ts
  tests/turbo-config-validation.test.ts
Due: ./packages/quality-check/bin/pre-commit

feat: task 2.2 - add memory profiling scripts to package.json
  package.json
Due: prettier --write

feat: task 2.3 - create baseline memory measurement utilities
  packages/quality-check/src/utils/memory-baseline.ts
Due: ./packages/quality-check/bin/pre-commit

docs: task 2.4 - document chrome devtools profiling workflow
  packages/quality-check/MEMORY_PROFILING.md
Due: prettier --write

feat: task 2.5 - identify top memory-consuming operations
  packages/quality-check/src/analysis/memory-consumers.md
Due: prettier --write

feat: task 2.6 - generate memory usage baseline report
  packages/quality-check/src/scripts/generate-baseline-report.ts
Due: ./packages/quality-check/bin/pre-commit

test: task 2.7 - verify profiling tools work correctly
  packages/quality-check/src/utils/memory-profiler.test.ts
Due: ./packages/quality-check/bin/pre-commit

test: task 3.1 - write tests for typescript engine disposal
  packages/quality-check/src/engines/typescript-engine.disposal.test.ts
Due: ./packages/quality-check/bin/pre-commit

feat: task 3.2 - add dispose method to typescript engine
  packages/quality-check/src/engines/typescript-engine.ts
Due: ./packages/quality-check/bin/pre-commit

test: task 3.3 - write tests for eslint engine cleanup
  packages/quality-check/src/core/file-batch-processor.test.ts
  packages/quality-check/src/core/resource-monitor.test.ts
  packages/quality-check/src/engines/eslint-engine.disposal.test.ts
  packages/quality-check/src/engines/eslint-engine.ts
  packages/quality-check/src/engines/eslint-engine.unit.test.ts
  packages/quality-check/src/utils/buffer-pool.test.ts
  packages/quality-check/src/utils/buffer-pool.ts
  packages/quality-check/src/utils/streaming-file-reader.test.ts
  packages/quality-check/src/utils/streaming-file-reader.ts
Due: ./packages/quality-check/bin/pre-commit

fix: task 3.8 - fix typescript engine to reuse incremental program
  packages/quality-check/src/engines/typescript-engine.ts
Due: ./packages/quality-check/bin/pre-commit

chore: trigger ci for pr status check
  .changeset/README.md
Due: prettier --write

fix: formatting issues in changeset readme
  .agent-os/cache/context_registry.json
  .changeset/README.md
Due: prettier --write

fix: add repository field to quality-check package.json for npm provenance
  packages/quality-check/package.json
Due: prettier --write

fix: add repository field to quality-check package.json for npm provenance (#35)
  packages/quality-check/package.json
Due: prettier --write

fix: apply CodeRabbit review improvements
  .env.example
  .github/workflows/ci.yml
  .github/workflows/nightly-performance.yml
  .github/workflows/release.yml
  .gitignore
Due: prettier --write

feat: Implement Prettier Turborepo Caching with Performance Monitoring (#33)
  .agent-os/cache/common-contexts.txt
  .agent-os/cache/context-registry.json
  .agent-os/cache/execution-manifest.json
  .agent-os/cache/git-session.json
  .agent-os/specs/2025-09-11-prettier-turborepo-caching/tasks.md
  .env.example
  .github/workflows/ci.yml
  .github/workflows/nightly-performance.yml
  .github/workflows/release.yml
  .gitignore
  package.json
  scripts/cache-monitor.ts
  scripts/performance-monitor.ts
  turbo.json
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: task 1 - configure turborepo output control for noise reduction
  turbo.json
Due: prettier --write
