Repository nathanvale/orchestr8: changes, and which lint-staged commands are due for each by the changed paths.
All: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete aggressive cleanup of all v1/v2/legacy references
  packages/quality-check/src/adapters/autopilot.ts
  packages/quality-check/src/adapters/fixer.ts
  packages/quality-check/src/core/issue-reporter.ts
  packages/quality-check/src/core/issue-reporter.unit.test.ts
  packages/quality-check/src/core/quality-checker-rename.unit.test.ts
  packages/quality-check/src/facades/backward-compatibility.test.ts
  packages/quality-check/src/facades/claude.ts
  packages/quality-check/src/facades/cli.ts
  packages/quality-check/src/utils/logger.ts
Due: ./packages/quality-check/bin/pre-commit

style: fix code formatting after cleanup
  packages/quality-check/src/adapters/fixer.ts
  packages/quality-check/src/core/issue-reporter.ts
  packages/quality-check/src/core/issue-reporter.unit.test.ts
Due: ./packages/quality-check/bin/pre-commit

fix: update git-hook.ts to use new QualityCheckResult format
  packages/quality-check/src/facades/git-hook.ts
Due: ./packages/quality-check/bin/pre-commit

fix: update tests to match cleaned up API structure
  packages/quality-check/src/core/issue-reporter.ts
  packages/quality-check/src/core/issue-reporter.unit.test.ts
  packages/quality-check/src/formatters/claude-formatter.ts
Due: ./packages/quality-check/bin/pre-commit

style: fix prettier formatting after test updates
  packages/quality-check/src/core/issue-reporter.ts
  packages/quality-check/src/formatters/claude-formatter.ts
Due: ./packages/quality-check/bin/pre-commit

feat: complete aggressive V1/V2 migration cleanup - achieve A- code quality
  packages/quality-check/src/core/issue-reporter.unit.test.ts
  packages/quality-check/src/core/quality-checker.error-handling.test.ts
  packages/quality-check/src/engines/typescript-engine.test.ts
  packages/quality-check/src/facades/api.test.ts
  packages/quality-check/src/facades/facade-integration.test.ts
  packages/quality-check/src/facades/git-hook.test.ts
  packages/quality-check/src/formatters/claude-formatter.unit.test.ts
  packages/quality-check/src/types/enforcement.js
  packages/quality-check/src/types/enforcement.ts
  packages/quality-check/tests/vitest.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit

fix: adjust test timeouts and path resolution for CI stability
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
  packages/quality-check/tests/turborepo-validation.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit

fix: address CodeRabbit review findings
  packages/quality-check/src/core/issue-reporter.ts
  packages/quality-check/tests/turborepo-validation.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit

chore: complete quality checker v2 migration cleanup (#20)
  packages/quality-check/src/adapters/autopilot.ts
  packages/quality-check/src/adapters/fixer.ts
  packages/quality-check/src/core/issue-reporter.ts
  packages/quality-check/src/core/issue-reporter.unit.test.ts
  packages/quality-check/src/core/quality-checker-rename.unit.test.ts
  packages/quality-check/src/core/quality-checker.error-handling.test.ts
  packages/quality-check/src/core/quality-checker.v1.backup.ts
  packages/quality-check/src/engines/typescript-engine.test.ts
  packages/quality-check/src/facades/api.test.ts
  packages/quality-check/src/facades/claude.ts
  packages/quality-check/src/facades/cli.ts
  packages/quality-check/src/facades/facade-integration.test.ts
  packages/quality-check/src/facades/git-hook.test.ts
  packages/quality-check/src/facades/git-hook.ts
  packages/quality-check/src/facades/v2-backward-compatibility.test.ts
  packages/quality-check/src/formatters/claude-formatter.ts
  packages/quality-check/src/formatters/claude-formatter.unit.test.ts
  packages/quality-check/src/index.ts
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
  packages/quality-check/src/test-utils/api-wrappers.test.ts
  packages/quality-check/src/types/enforcement.js
  packages/quality-check/src/types/enforcement.ts
  packages/quality-check/src/utils/logger.ts
  packages/quality-check/tests/turborepo-validation.integration.test.ts
  packages/quality-check/tests/vitest.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit

fix: prevent private packages from being published
  packages/utils/package.json
Due: prettier --write

fix: prevent private packages from being published (#21)
  packages/utils/package.json
Due: prettier --write

fix: add quality-check-fixer agent trigger message to error output
  packages/quality-check/src/facades/claude.ts
Due: ./packages/quality-check/bin/pre-commit

fix: remove all debug console output from quality checker
  packages/quality-check/src/adapters/autopilot.ts
  packages/quality-check/src/facades/claude.ts
Due: ./packages/quality-check/bin/pre-commit

refactor: remove old XML formatter - use only ANSI-colored output
  .agent-os/specs/2025-09-11-prettier-turborepo-caching/spec-lite.md
  .agent-os/specs/2025-09-11-prettier-turborepo-caching/spec.md
  .agent-os/specs/2025-09-11-prettier-turborepo-caching/sub-specs/technical-spec.md
  packages/quality-check/src/facades/claude-xml-output.unit.test.ts
  packages/quality-check/src/facades/claude.ts
  packages/quality-check/src/formatters/output-formatter.ts
  packages/quality-check/src/formatters/output-formatter.unit.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: adjust performance test timeout for CI stability
  .agent-os/specs/2025-09-11-prettier-turborepo-caching/spec-lite.md
  .agent-os/specs/2025-09-11-prettier-turborepo-caching/spec.md
  .agent-os/specs/2025-09-11-prettier-turborepo-caching/sub-specs/technical-spec.md
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: restore debug logging controlled by environment variables
  packages/quality-check/src/adapters/autopilot.ts
  packages/quality-check/src/facades/claude.ts
Due: ./packages/quality-check/bin/pre-commit

fix: increase test timeout for CI stability after v2 refactor
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit

fix: restore performance optimizations for quality checker tests
  packages/quality-check/src/core/config-loader.ts
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit

fix: adjust integration test timeouts for CI environments
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit

fix: adjust integration test timeouts for CI environments
  packages/quality-check/src/engines/eslint-flat-config.test.ts
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit

fix: increase performance test timeout for CI environments
  .agent-os/specs/2025-09-11-prettier-turborepo-caching/sub-specs/technical-spec.md
  packages/quality-check/src/facades/claude.ts
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: exclude private packages from changeset releases
  .changeset/config.json
Due: prettier --write

fix: remove ignored packages from existing changesets
  .changeset/adhd-monorepo-standardization.md
Due: prettier --write

fix: remove ignored packages from changesets
  .changeset/adhd-monorepo-standardization.md
  .changeset/husky-modernization.md
Due: prettier --write

feat: implement fix-first architecture for quality check hooks
  packages/quality-check/src/core/quality-checker.auto-staging.test.ts
  packages/quality-check/src/core/quality-checker.fix-first.test.ts
  packages/quality-check/src/core/quality-checker.ts
Due: ./packages/quality-check/bin/pre-commit

fix: restore timeout management and performance optimizations in fix-first architecture
  packages/quality-check/src/core/quality-checker.ts
Due: ./packages/quality-check/bin/pre-commit

docs: update fix-first hooks architecture documentation
  .agent-os/recaps/2025-09-09-fix-first-hooks-architecture.md
  .agent-os/recaps/2025-09-12-fix-first-hooks-architecture-verification.md
  .agent-os/specs/2025-09-09-fix-first-hooks-architecture/tasks.md
Due: prettier --write

fix: resolve error message transformation issues in quality-checker
  .claude/settings.json
  packages/quality-check/src/core/quality-checker.fix-first.test.ts
  packages/quality-check/src/core/quality-checker.ts
  packages/quality-check/src/formatters/aggregator.ts
  packages/quality-check/src/types.ts
  packages/quality-check/src/types/issue-types.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

docs: mark Task 1 complete and add completion recap
  .agent-os/product/recaps/2025-09-12-fix-first-task-1-completion.md
  .agent-os/specs/2025-09-09-fix-first-hooks-architecture/tasks.md
Due: prettier --write

feat: implement timeout and resource management infrastructure
  .agent-os/product/recaps/2025-09-12-fix-first-task-1-completion.md
  .agent-os/specs/2025-09-09-fix-first-hooks-architecture/tasks.md
  packages/quality-check/src/core/file-batch-processor.ts
  packages/quality-check/src/core/quality-checker.timeout.test.ts
  packages/quality-check/src/core/resource-monitor.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: add comprehensive graceful degradation tests for quality-checker
  .agent-os/recaps/2025-09-12-fix-first-hooks-architecture-task-2.md
  .agent-os/specs/2025-09-09-fix-first-hooks-architecture/tasks.md
  packages/quality-check/src/core/quality-checker.graceful-degradation.test.ts
  packages/quality-check/src/core/quality-checker.timeout.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete graceful degradation implementation for Task 3
  .agent-os/recaps/2025-09-12-fix-first-hooks-architecture-task-2.md
  packages/quality-check/src/core/quality-checker.timeout.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: enhance graceful degradation with improved error handling
  .agent-os/recaps/2025-09-12-fix-first-hooks-architecture-task-3.md
  packages/quality-check/src/core/config-loader.ts
  packages/quality-check/src/core/quality-checker.graceful-degradation.test.ts
  packages/quality-check/src/core/quality-checker.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

style: format recap file with Prettier
  .agent-os/recaps/2025-09-12-fix-first-hooks-architecture-task-3.md
Due: prettier --write

fix: correct test expectation for graceful degradation of missing tools
  packages/quality-check/src/core/quality-checker.error-handling.test.ts
Due: ./packages/quality-check/bin/pre-commit

fix: correct timeout message matching in graceful degradation tests
  .agent-os/specs/ci-failure-fixes.md
  .agent-os/specs/option-1-migration-plan.md
  .agent-os/specs/option-1-technical-design.md
  .agent-os/specs/option-1-test-workflow-alignment.md
  packages/quality-check/src/core/quality-checker.graceful-degradation.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

test: skip incomplete advanced feature tests to focus on core graceful degradation
  packages/quality-check/src/core/quality-checker.graceful-degradation.test.ts
  packages/quality-check/src/core/quality-checker.timeout.test.ts
Due: ./packages/quality-check/bin/pre-commit

feat: implement TDD foundation for fix-first QualityChecker architecture
  .agent-os/recaps/2025-09-12-task-3-graceful-degradation-complete.md
  .agent-os/specs/2025-09-09-fix-first-hooks-architecture/tasks.md
  packages/quality-check/src/core/quality-checker.fix-first.test.ts
  packages/quality-check/src/facades/claude.ts
  packages/quality-check/src/facades/git-hook.auto-staging-advanced.test.ts
  packages/quality-check/src/facades/git-hook.auto-staging-basic.test.ts
  packages/quality-check/src/facades/git-hook.ts
  packages/quality-check/src/types.ts
  packages/quality-check/src/types/issue-types.ts
  packages/quality-check/src/utils/git-operations.test.ts
  packages/quality-check/src/utils/git-operations.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: add missing break statements in switch cases
  packages/quality-check/src/facades/claude.ts
Due: ./packages/quality-check/bin/pre-commit

Path conditions:
  ./packages/quality-check/bin/pre-commit: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
