Repository nathanvale/orchestr8: changes, and which lint-staged commands are due for each by the changed paths.
All: ./packages/quality-check/bin/pre-commit, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["./packages/quality-check/bin/pre-commit"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: complete tasks from 2025-09-08-test-infrastructure-fix
  .agent-os/specs/2025-09-08-test-infrastructure-fix/spec-lite.md
  .agent-os/specs/2025-09-08-test-infrastructure-fix/spec.md
  .agent-os/specs/2025-09-08-test-infrastructure-fix/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-08-test-infrastructure-fix/sub-specs/tests.md
  .agent-os/specs/2025-09-08-test-infrastructure-fix/tasks.md
  packages/quality-check/bin/claude-hook
  packages/quality-check/bin/debug-hook
  packages/quality-check/src/bin/claude-hook.unit.test.ts
  packages/quality-check/src/facades/claude.ts
  packages/quality-check/src/test-utils/test-environment.ts
  packages/quality-check/test.js
  test-temp/eslint-config-test-1757273980190/package.json
  test-temp/eslint-config-test-1757273980190/src/strict-null.ts
  test-temp/eslint-config-test-1757273980190/tsconfig.json
  test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete additional tasks from 2025-09-08-test-infrastructure-fix
  .agent-os/specs/2025-09-08-test-infrastructure-fix/execution-recap.md
  .agent-os/specs/2025-09-08-test-infrastructure-fix/tasks.md
  packages/quality-check/src/test-utils/mock-factory.ts
  packages/quality-check/src/test-utils/test-environment.test.ts
  packages/quality-check/src/test-utils/test-environment.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

docs: add execution summary for test infrastructure fix
  .agent-os/specs/2025-09-08-test-infrastructure-fix/execution-recap.md
  .agent-os/specs/2025-09-08-test-infrastructure-fix/execution-summary.md
Due: prettier --write

feat: complete task 2.6 - replace real quality checker with mocks in integration tests
  .agent-os/instructions/core/execute-tasks-master-v6.xml
  .agent-os/specs/2025-09-08-test-infrastructure-fix/tasks.md
  packages/quality-check/tests/ci-cd-pipeline.integration.test.ts
  packages/quality-check/tests/quality-checker-full.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

wip
  .agent-os/instructions/core/execute-tasks-master-v6.xml
Due: none

wip
  .agent-os/instructions/core/execute-tasks-master-v6.xml
  .agent-os/specs/2025-09-08-test-infrastructure-fix/tasks.md
  packages/quality-check/src/engines/eslint-flat-config.test.ts
  test-temp/claude-test-1757281826518/package.json
  test-temp/claude-test-1757281826518/src/test.ts
  test-temp/claude-test-1757281826518/tsconfig.json
  test-temp/eslint-config-test-1757281826521/.eslintrc.json
  test-temp/eslint-config-test-1757281826521/package.json
  test-temp/eslint-config-test-1757281826521/src/airbnb-style.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete task 3 - fix configuration loading
  .agent-os/specs/2025-09-08-test-infrastructure-fix/tasks.md
  test-temp/claude-test-1757281826518/package.json
  test-temp/claude-test-1757281826518/src/test.ts
  test-temp/claude-test-1757281826518/tsconfig.json
  test-temp/eslint-config-test-1757281826521/.eslintrc.json
  test-temp/eslint-config-test-1757281826521/package.json
  test-temp/eslint-config-test-1757281826521/src/airbnb-style.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete integration test mock refactor
  .agent-os/specs/2025-09-08-integration-test-mock-refactor/execution-recap.md
  .agent-os/specs/2025-09-08-integration-test-mock-refactor/spec-lite.md
  .agent-os/specs/2025-09-08-integration-test-mock-refactor/spec.md
  .agent-os/specs/2025-09-08-integration-test-mock-refactor/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-08-integration-test-mock-refactor/tasks.md
  packages/quality-check/src/integration/config-variations.integration.test.ts
  packages/quality-check/src/test-utils/mock-claude-hook.ts
  test-temp/eslint-config-test-1757282138070/.eslintrc.json
  test-temp/eslint-config-test-1757282138070/.prettierrc
  test-temp/eslint-config-test-1757282138070/package.json
  test-temp/eslint-config-test-1757282138070/src/conflicts.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: convert failing integration tests to use mock infrastructure
  packages/quality-check/src/integration/claude-hook-workflow-mocked.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit

wip
  .agent-os/specs/2025-09-08-integration-test-mock-refactor/execution-recap.md
  .agent-os/specs/2025-09-08-integration-test-mock-refactor/spec-lite.md
  .agent-os/specs/2025-09-08-integration-test-mock-refactor/spec.md
  .agent-os/specs/2025-09-08-integration-test-mock-refactor/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-08-integration-test-mock-refactor/tasks.md
  .agent-os/specs/2025-09-08-test-infrastructure-fix/execution-recap.md
  .agent-os/specs/2025-09-08-test-infrastructure-fix/execution-summary.md
  .agent-os/specs/2025-09-08-test-infrastructure-fix/spec-lite.md
  .agent-os/specs/2025-09-08-test-infrastructure-fix/spec.md
  .agent-os/specs/2025-09-08-test-infrastructure-fix/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-08-test-infrastructure-fix/sub-specs/tests.md
  .agent-os/specs/2025-09-08-test-infrastructure-fix/tasks.md
  packages/quality-check/src/engines/eslint-flat-config.test.ts
  packages/quality-check/src/integration/claude-hook-workflow-mocked.integration.test.ts
  packages/quality-check/src/integration/config-variations.integration.test.ts
  packages/quality-check/src/test-utils/mock-claude-hook.ts
  packages/quality-check/src/test-utils/mock-factory.ts
  packages/quality-check/src/test-utils/test-environment.test.ts
  packages/quality-check/test.js
  packages/quality-check/tests/ci-cd-pipeline.integration.test.ts
  packages/quality-check/tests/quality-checker-full.integration.test.ts
  test-temp/eslint-config-test-1757273980190/package.json
  test-temp/eslint-config-test-1757273980190/src/strict-null.ts
  test-temp/eslint-config-test-1757273980190/tsconfig.json
  test-temp/eslint-config-test-1757282138070/.eslintrc.json
  test-temp/eslint-config-test-1757282138070/.prettierrc
  test-temp/eslint-config-test-1757282138070/package.json
  test-temp/eslint-config-test-1757282138070/src/conflicts.js
  test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

wip
  .agent-os/instructions/core/execute-tasks-master-v6.xml
  packages/quality-check/IMPLEMENTATION_SUMMARY.md
  packages/quality-check/src/facades/claude.ts
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
  test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

chore: add test-temp/ to .gitignore
  .gitignore
Due: none

chore: remove test-temp from git history
  test-temp/claude-test-1757052248046/package.json
  test-temp/claude-test-1757052248046/src/component.tsx
  test-temp/claude-test-1757052248046/tsconfig.json
  test-temp/claude-test-1757241397442/package.json
  test-temp/claude-test-1757241397442/src/component.tsx
  test-temp/claude-test-1757241397442/tsconfig.json
  test-temp/claude-test-1757252066111/package.json
  test-temp/claude-test-1757252066111/src/test.ts
  test-temp/claude-test-1757252066111/tsconfig.json
  test-temp/eslint-config-test-1757241397564/.eslintrc.json
  test-temp/eslint-config-test-1757241397564/package.json
  test-temp/eslint-config-test-1757241397564/src/standard-style.js
  test-temp/eslint-config-test-1757252066099/.eslintrc.json
  test-temp/eslint-config-test-1757252066099/package.json
  test-temp/eslint-config-test-1757252066099/src/airbnb-style.js
  test-temp/eslint-config-test-1757273980190/package.json
  test-temp/eslint-config-test-1757273980190/src/strict-null.ts
  test-temp/eslint-config-test-1757273980190/tsconfig.json
  test-temp/eslint-config-test-1757282138070/.eslintrc.json
  test-temp/eslint-config-test-1757282138070/.prettierrc
  test-temp/eslint-config-test-1757282138070/package.json
  test-temp/eslint-config-test-1757282138070/src/conflicts.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete tasks from 2025-09-07-test-temp-cleanup
  .agent-os/specs/2025-09-07-test-temp-cleanup/spec-lite.md
  .agent-os/specs/2025-09-07-test-temp-cleanup/spec.md
  .agent-os/specs/2025-09-07-test-temp-cleanup/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-07-test-temp-cleanup/tasks.md
Due: prettier --write

feat: complete tasks from 2025-09-07-test-temp-cleanup
  .agent-os/instructions/core/execute-tasks-master-v6.xml
  .agent-os/specs/2025-09-07-test-temp-cleanup/tasks.md
  .claude/agents/git-workflow.md
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
  packages/quality-check/test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete tasks from 2025-09-07-test-temp-cleanup
  .agent-os/instructions/core/execute-tasks-master-v6.xml
  .agent-os/specs/2025-09-07-test-temp-cleanup/execution-recap.md
  .agent-os/specs/2025-09-07-test-temp-cleanup/tasks.md
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: resolve integration test failures in quality-check package
  .agent-os/instructions/core/execute-tasks-master-v6.xml
  .agent-os/specs/2025-09-08-fix-integration-test-failures/spec-lite.md
  .agent-os/specs/2025-09-08-fix-integration-test-failures/spec.md
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete tasks from 2025-09-08-quality-check-test-cleanup
  .agent-os/instructions/core/execute-tasks-master-v6.xml
  .agent-os/specs/2025-09-07-test-temp-cleanup/execution-recap.md
  .agent-os/specs/2025-09-07-test-temp-cleanup/tasks.md
  .agent-os/specs/2025-09-08-fix-integration-test-failures/spec-lite.md
  .agent-os/specs/2025-09-08-fix-integration-test-failures/spec.md
  .agent-os/specs/2025-09-08-quality-check-test-cleanup/spec-lite.md
  .agent-os/specs/2025-09-08-quality-check-test-cleanup/spec.md
  .agent-os/specs/2025-09-08-quality-check-test-cleanup/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-08-quality-check-test-cleanup/tasks.md
  .claude/agents/git-workflow.md
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete tasks from 2025-09-08-quality-check-test-cleanup
  .agent-os/instructions copy/core/execute-tasks.md
  .agent-os/instructions/core/execute-tasks-master-v6.xml
  .agent-os/specs/2025-09-08-quality-check-test-cleanup/execution-recap.md
  .agent-os/specs/2025-09-08-quality-check-test-cleanup/tasks.md
  packages/quality-check/test-cwd-debug.sh
  packages/quality-check/test-hook-debug.sh
  packages/quality-check/test-hook-manually.sh
  packages/quality-check/test-strict.ts
  packages/quality-check/test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

wip
  .agent-os/instructions copy/core/execute-tasks.md
  .agent-os/instructions/core copy/analyze-product.md
  .agent-os/instructions/core copy/create-spec.md
  .agent-os/instructions/core copy/plan-product.md
  .agent-os/instructions/core/analyze-product.md
  .agent-os/instructions/core/create-spec.md
  .agent-os/instructions/core/create-tasks.md
  .agent-os/instructions/core/execute-task.md
  .agent-os/instructions/core/execute-tasks.md
  .agent-os/instructions/core/plan-product.md
  .agent-os/instructions/core/post-execution-tasks.md
  .agent-os/instructions/meta/post-flight.md
  .agent-os/instructions/meta/pre-flight.md
  .agent-os/recaps/2025-09-08-quality-check-test-cleanup.md
  .agent-os/specs/2025-09-08-quality-check-test-cleanup/execution-recap.md
  .agent-os/specs/2025-09-08-quality-check-test-cleanup/spec-lite.md
  .agent-os/specs/2025-09-08-quality-check-test-cleanup/spec.md
  .agent-os/specs/2025-09-08-quality-check-test-cleanup/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-08-quality-check-test-cleanup/tasks.md
  .agent-os/specs/2025-09-08-quality-check-v2-migration/tasks.md
  .agent-os/specs/2025-09-08-quality-checker-v2-migration/spec-lite.md
  .agent-os/specs/2025-09-08-quality-checker-v2-migration/spec.md
  .agent-os/specs/2025-09-08-quality-checker-v2-migration/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-08-quality-checker-v2-migration/tasks.md
  .agent-os/standards/testing-rules.md
  .claude/agents/context-fetcher.md
  .claude/agents/date-checker.md
  .claude/agents/file-creator.md
  .claude/agents/project-manager.md
  .claude/agents/quality-check-fixer.md
  .claude/agents/test-runner.md
  .claude/agents/yagni-architect-reviewer.md
  .claude/commands/create-spec.md
  test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: migrate to QualityCheckerV2 implementation
  .agent-os/instructions/core/execute-task.md
  .agent-os/specs/2025-09-08-quality-checker-v2-migration/tasks.md
  .claude/agents/quality-check-fixer.md
  packages/quality-check/src/facades/api.test.ts
  packages/quality-check/src/facades/api.ts
  packages/quality-check/src/facades/claude-facade-v2.ts
  packages/quality-check/src/facades/claude-hook.integration.test.ts
  packages/quality-check/src/facades/claude-v2.ts
  packages/quality-check/src/facades/claude-v2.unit.test.ts
  packages/quality-check/src/facades/git-hook.test.ts
  packages/quality-check/src/facades/git-hook.ts
  packages/quality-check/src/facades/v2-backward-compatibility.test.ts
  packages/quality-check/src/facades/v2-facade-integration.test.ts
  packages/quality-check/src/test-utils/api-wrappers.test.ts
  packages/quality-check/src/test-utils/api-wrappers.ts
  test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete quality-checker-v2-migration Phase 1 Task 5 and Phase 2 test migration
  .agent-os/instructions/core/execute-task.md
  .agent-os/recaps/2025-09-08-quality-checker-v2-migration.md
  .agent-os/specs/2025-09-08-quality-checker-v2-migration/tasks.md
  .claude/agents/quality-check-fixer.md
  packages/quality-check/src/core/quality-checker.error-handling.test.ts
  packages/quality-check/src/engines/typescript-engine.test.ts
  packages/quality-check/test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

chore: fix formatting in execute-task instructions
  .agent-os/instructions/core/execute-task.md
Due: prettier --write

feat: complete Phase 3 of quality-checker V2 migration
  .agent-os/recaps/2025-09-08-quality-checker-v2-migration.md
  .agent-os/specs/2025-09-08-quality-checker-v2-migration/tasks.md
  .claude/agents/project-manager.md
  packages/quality-check/src/core/quality-checker-rename.unit.test.ts
  packages/quality-check/src/core/quality-checker-v2.ts
  packages/quality-check/src/core/quality-checker.error-handling.test.ts
  packages/quality-check/src/core/quality-checker.ts
  packages/quality-check/src/core/quality-checker.unit.test.ts
  packages/quality-check/src/core/quality-checker.v1.backup.ts
  packages/quality-check/src/facades/api.test.ts
  packages/quality-check/src/facades/api.ts
  packages/quality-check/src/facades/claude-xml-output.unit.test.ts
  packages/quality-check/src/facades/claude.ts
  packages/quality-check/src/facades/cli.ts
  packages/quality-check/src/facades/git-hook.test.ts
  packages/quality-check/src/facades/git-hook.ts
  packages/quality-check/src/facades/v2-backward-compatibility.test.ts
  packages/quality-check/src/facades/v2-facade-integration.test.ts
  packages/quality-check/src/index.ts
  packages/quality-check/src/test-utils/api-wrappers.test.ts
  packages/quality-check/src/test-utils/api-wrappers.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

chore: fix formatting after prettier run
  .agent-os/recaps/2025-09-08-quality-checker-v2-migration.md
  .agent-os/specs/2025-09-08-quality-checker-v2-migration/tasks.md
  packages/quality-check/src/core/quality-checker-rename.unit.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: resolve circular reference in rename test
  packages/quality-check/src/core/quality-checker-rename.unit.test.ts
Due: ./packages/quality-check/bin/pre-commit

feat: complete Phase 4 of quality-checker V2 migration - import cleanup
  .agent-os/product/roadmap.md
  .agent-os/specs/2025-09-08-quality-checker-v2-migration/tasks.md
  .claude/agents/code-analyzer.md
  .claude/agents/project-manager.md
  packages/quality-check/.agent-os/recaps/2025-09-08-quality-checker-v2-migration.md
  packages/quality-check/tests/performance-benchmark.test.ts
  test.js
  tsconfig.json
Due: ./packages/quality-check/bin/pre-commit, prettier --write

chore: fix formatting in test.js
  test.js
Due: ./packages/quality-check/bin/pre-commit

wip
  .agent-os copy/testing-rules.md
  .agent-os/instructions/core/execute-task.md
  .agent-os/recaps/2025-09-08-quality-checker-v2-migration.md
  .claude/agents/context-fetcher.md
  .claude/agents/quality-check-fixer.md
Due: prettier --write

refactor: simplify execute-task instructions as part of quality-checker V2 migration
  .agent-os/instructions/core/execute-task.md
Due: prettier --write

feat: complete Phase 5 of quality-checker V2 migration - performance and integration validation
  packages/quality-check/tsconfig.test.json
Due: prettier --write

feat: complete Phase 6 of quality-checker V2 migration - test format fixes
  .agent-os/recaps/2025-09-08-quality-checker-v2-migration.md
  .agent-os/specs/2025-09-08-quality-checker-v2-migration/tasks.md
  .claude/agents/quality-check-fixer.md
  CLAUDE.md
  packages/quality-check/src/engines/typescript-engine.test.ts
  packages/quality-check/src/facades/git-hook.test.ts
  packages/quality-check/src/facades/git-hook.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete Phase 6 of quality-checker V2 migration - final test fixes
  .agent-os/instructions/core/execute-task.md
  .agent-os/specs/2025-09-08-quality-checker-v2-migration/tasks.md
  .claude/agents/context-fetcher.md
  .claude/agents/file-analyzer.md
  CLAUDE.md
  packages/quality-check/src/core/error-parser.performance.test.ts
  packages/quality-check/src/core/quality-checker.error-handling.test.ts
  packages/quality-check/src/core/quality-checker.ts
  packages/quality-check/src/formatters/output-formatter.ts
  test.js
  trigger-test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

chore: save work in progress before switching to fix-test-failures branch
  .agent-os/specs/2025-09-08-quality-checker-v2-migration/tasks.md
  .agent-os/specs/2025-09-09-fix-test-failures/spec-lite.md
  .agent-os/specs/2025-09-09-fix-test-failures/spec.md
  .agent-os/specs/2025-09-09-fix-test-failures/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-09-fix-test-failures/tasks.md
  .claude/agents/context-fetcher.md
  packages/quality-check/src/core/quality-checker.ts
  packages/quality-check/test.js
  test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: resolve test failures in quality-check package
  .agent-os/specs/2025-09-08-quality-checker-v2-migration/tasks.md
  .agent-os/specs/2025-09-09-fix-test-failures/spec-lite.md
  .agent-os/specs/2025-09-09-fix-test-failures/spec.md
  .agent-os/specs/2025-09-09-fix-test-failures/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-09-fix-test-failures/tasks.md
  .claude/agents/context-fetcher.md
  packages/quality-check/src/core/quality-checker.error-handling.test.ts
  packages/quality-check/src/core/quality-checker.ts
  packages/quality-check/src/formatters/output-formatter.ts
  packages/quality-check/src/test-utils/api-wrappers.ts
  packages/quality-check/test.js
  test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete fix-test-failures implementation
  .agent-os/instructions/core/execute-task.md
  .agent-os/recaps/2025-09-09-fix-test-failures.md
  .agent-os/specs/2025-09-09-fix-test-failures/tasks.md
  .claude/agents copy/yagni-architect-reviewer.md
  .claude/agents/claude-prompt-creator.md
  .claude/agents/claude-prompt-reviewer.md
  .claude/agents/test-runner.md
  packages/quality-check/src/core/quality-checker.error-handling.test.ts
  packages/quality-check/src/core/quality-checker.ts
  packages/quality-check/src/facades/v2-facade-integration.test.ts
  packages/quality-check/src/formatters/output-formatter.ts
  packages/quality-check/test.js
  test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: resolve facade integration test failures
  .agent-os/specs/2025-09-09-fix-test-failures/tasks.md
  packages/quality-check/src/facades/v2-facade-integration.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

style: apply prettier formatting
  .agent-os/recaps/2025-09-09-fix-test-failures.md
  .agent-os/specs/2025-09-09-fix-test-failures/tasks.md
  CLAUDE.md
  packages/quality-check/src/core/quality-checker.ts
  packages/quality-check/src/facades/v2-facade-integration.test.ts
  packages/quality-check/test.js
  test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: resolve all test failures in quality-check package
  .agent-os/instructions/core/execute-task.md
  .agent-os/recaps/2025-09-09-fix-test-failures.md
  .agent-os/specs/2025-09-09-fix-test-failures/tasks.md
  .claude/agents/code-analyzer.md
  .claude/agents/context-fetcher.md
  .claude/agents/test-runner.md
  CLAUDE.md
  package.json
  packages/quality-check/src/core/file-matcher.test.ts
  packages/quality-check/src/core/file-matcher.ts
  packages/quality-check/src/facades/claude.ts
  packages/quality-check/src/facades/git-hook.ts
  packages/quality-check/src/test-utils/api-wrappers.test.ts
  tests/adhd-monorepo.slow.test.ts
  tests/changesets.integration.test.ts
  turbo.json
  vitest.setup.tsx
Due: ./packages/quality-check/bin/pre-commit, prettier --write
