Repository nathanvale/orchestr8: changes, and which lint-staged commands are due for each by the changed paths.
All: ./packages/quality-check/bin/pre-commit, prettier --write

chore: trigger PR workflow synchronize event
  .github/workflows/ci.yml
Due: prettier --write

feat: trigger CI workflow with proper PR synchronize event
  .github/TRIGGER.md
  .github/workflows/ci.yml
Due: prettier --write

docs: final trigger for ADHD-optimized CI pipeline validation
  STATUS.md
Due: prettier --write

test: add simple workflow to test PR triggers
  .github/workflows/test-simple.yml
Due: prettier --write

fix: replace broken ADHD CI workflow with working version
  .github/workflows/ci.yml
  .github/workflows/test-simple.yml
Due: prettier --write

fix: correct pnpm version mismatch in ADHD CI workflow
  .github/workflows/ci.yml
Due: prettier --write

fix: update pnpm lockfile to resolve dependency sync issues
  pnpm-lock.yaml
Due: prettier --write

fix: standardize PNPM versions and add proper caching to ADHD CI
  .github/workflows/ci.yml
Due: prettier --write

feat: implement test audit functionality for ADHD workflow alignment
  .agent-os/specs/2025-09-10-test-workflow-alignment/audit-verification-checklist.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/spec-lite.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/spec.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/tasks.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/test-behavior-analysis.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/test-categorization-matrix.md
  scripts/audit-ci-tests.js
  scripts/audit-ci-tests.ts
  tests/test-audit.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

docs: update test workflow alignment specifications and audit scripts
  .agent-os/recaps/2025-09-10-test-workflow-alignment.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/audit-verification-checklist.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/spec-lite.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/spec.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/tasks.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/test-behavior-analysis.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/test-categorization-matrix.md
  .agent-os/specs/option-1-migration-plan.md
  .agent-os/specs/option-1-technical-design.md
  .agent-os/specs/option-1-test-workflow-alignment.md
  scripts/audit-ci-tests.js
  scripts/audit-ci-tests.ts
  tests/test-audit.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: align workflow tests with 8-job ADHD CI structure
  .agent-os/recaps/2025-09-10-test-workflow-alignment.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/tasks.md
  .github/workflows/ci.yml
  packages/quality-check/tests/ci-cd-pipeline.integration.test.ts
  packages/quality-check/tests/ci-modular-jobs.integration.test.ts
  packages/quality-check/tests/workflow-validation-helpers.test.ts
  packages/quality-check/tests/workflow-validation-helpers.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

docs: update task 2 completion status in recap
  .agent-os/recaps/2025-09-10-test-workflow-alignment.md
Due: prettier --write

feat: complete test-workflow-alignment spec tasks 4-5
  .agent-os/recaps/2025-09-10-test-workflow-alignment.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/tasks.md
  .github/workflows/ci.yml
  tests/cognitive-load-reducers.test.ts
  tests/github-step-summaries.test.ts
  tests/progressive-testing-tiers.test.ts
  tests/test-audit.integration.test.ts
  tests/workflow-regression-prevention.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: finalize test workflow alignment with 9-job ADHD CI structure
  .agent-os/recaps/2025-09-11-test-workflow-alignment.md
  .vscode/settings.json
  packages/quality-check/tests/ci-cd-pipeline.integration.test.ts
  packages/quality-check/tests/ci-modular-jobs.integration.test.ts
  packages/quality-check/tests/workflow-validation-helpers.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

style: apply prettier formatting to test workflow files
  .agent-os/recaps/2025-09-11-test-workflow-alignment.md
  packages/quality-check/tests/ci-cd-pipeline.integration.test.ts
  packages/quality-check/tests/ci-modular-jobs.integration.test.ts
  packages/quality-check/tests/workflow-validation-helpers.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

style: apply prettier formatting to test workflow files
  .agent-os/recaps/2025-09-10-test-workflow-alignment-complete.md
  .agent-os/recaps/2025-09-11-test-workflow-alignment.md
  packages/quality-check/tests/ci-cd-pipeline.integration.test.ts
  packages/quality-check/tests/ci-modular-jobs.integration.test.ts
  packages/quality-check/tests/workflow-validation-helpers.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: correct tsup config import paths to use .base instead of .base.js
  packages/utils/tsup.config.ts
  packages/voice-vault/tsup.config.ts
Due: ./packages/quality-check/bin/pre-commit

fix: use .js extension for tsup config imports per Node16 module resolution
  packages/utils/tsup.config.ts
  packages/voice-vault/tsup.config.ts
Due: ./packages/quality-check/bin/pre-commit

fix: add missing tooling/build files to git repository
  .gitignore
  tooling/build/tsup.base.integration.test.ts
  tooling/build/tsup.base.ts
  tooling/build/validate-config.ts
Due: ./packages/quality-check/bin/pre-commit

fix: add build step before typecheck in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

fix: correct status emojis in CI pipeline reporter
  .github/workflows/ci.yml
Due: prettier --write

feat: implement test audit functionality for ADHD workflow alignment (#14)
  .agent-os/recaps/2025-09-10-test-workflow-alignment-complete.md
  .agent-os/recaps/2025-09-10-test-workflow-alignment.md
  .agent-os/recaps/2025-09-11-test-workflow-alignment.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/audit-verification-checklist.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/spec-lite.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/spec.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/tasks.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/test-behavior-analysis.md
  .agent-os/specs/2025-09-10-test-workflow-alignment/test-categorization-matrix.md
  .agent-os/specs/option-1-migration-plan.md
  .agent-os/specs/option-1-technical-design.md
  .agent-os/specs/option-1-test-workflow-alignment.md
  .github/workflows/ci.yml
  .gitignore
  .vscode/settings.json
  packages/quality-check/tests/ci-cd-pipeline.integration.test.ts
  packages/quality-check/tests/ci-modular-jobs.integration.test.ts
  packages/quality-check/tests/workflow-validation-helpers.test.ts
  packages/quality-check/tests/workflow-validation-helpers.ts
  scripts/audit-ci-tests.js
  scripts/audit-ci-tests.ts
  tests/cognitive-load-reducers.test.ts
  tests/github-step-summaries.test.ts
  tests/progressive-testing-tiers.test.ts
  tests/test-audit.integration.test.ts
  tests/workflow-regression-prevention.test.ts
  tooling/build/tsup.base.integration.test.ts
  tooling/build/tsup.base.ts
  tooling/build/validate-config.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

refactor: simplify CI performance scripts per ADHD optimization spec
  .gitignore
  eslint.config.mjs
  package.json
  scripts/ci-performance-check.js
  scripts/ci-performance-check.ts
  scripts/performance-monitor.ts
  tsconfig.json
Due: ./packages/quality-check/bin/pre-commit, prettier --write

refactor: move CI tests from quality-check to root tests directory
  package.json
  pnpm-lock.yaml
  tests/ci-cd-pipeline.integration.test.ts
  tests/ci-modular-jobs.integration.test.ts
  tests/workflow-validation-helpers.test.ts
  tests/workflow-validation-helpers.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

test: clean up test folder per CI-ADHD optimization
  packages/quality-check/tests/package-build-consistency.integration.test.ts
  packages/quality-check/tests/turborepo-validation.integration.test.ts
  packages/quality-check/tests/vitest.integration.test.ts
  tests/cognitive-load-reducers.test.ts
  tests/github-step-summaries.test.ts
  tests/workflow-regression-prevention.test.ts
Due: ./packages/quality-check/bin/pre-commit

feat: enable automatic changeset releases and set beta versioning
  .changeset/ci-adhd-optimization.md
  .github/workflows/release.yml
  packages/quality-check/package.json
Due: prettier --write

fix: mark utils package as private and update changeset
  .changeset/ci-adhd-optimization.md
  packages/utils/package.json
Due: prettier --write

refactor: rename packages to @claude-hooks scope
  .changeset/adhd-monorepo-standardization.md
  .changeset/ci-adhd-optimization.md
  packages/quality-check/package.json
  packages/quality-check/src/index.ts
  packages/voice-vault/package.json
  packages/voice-vault/src/audio/index.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: temporarily disable nightly workflow schedule
  .github/workflows/nightly-performance.yml
Due: prettier --write

fix: resolve all test failures on main branch
  package.json
  packages/quality-check/tests/package-build-consistency.integration.test.ts
  packages/quality-check/tests/vitest.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: resolve all test failures on main branch (#16)
  package.json
  packages/quality-check/tests/package-build-consistency.integration.test.ts
  packages/quality-check/tests/vitest.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: remove flaky performance benchmark tests
  packages/quality-check/tests/performance-benchmark.test.ts
Due: ./packages/quality-check/bin/pre-commit

fix: remove flaky performance benchmark tests (#17)
  packages/quality-check/tests/performance-benchmark.test.ts
Due: ./packages/quality-check/bin/pre-commit

fix: ignore sbom.json in prettier formatting checks
  .prettierignore
Due: none

fix: ignore sbom.json in prettier formatting checks (#18)
  .prettierignore
Due: none

chore: complete quality checker v2 migration cleanup
  packages/quality-check/src/core/quality-checker.v1.backup.ts
Due: ./packages/quality-check/bin/pre-commit

feat: complete quality checker v2 cleanup by removing all v2 references
  packages/quality-check/src/facades/backward-compatibility.test.ts
  packages/quality-check/src/facades/facade-integration.test.ts
  packages/quality-check/src/index.ts
  packages/quality-check/src/test-utils/api-wrappers.test.ts
  packages/quality-check/tests/turborepo-validation.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit

Path conditions:
  ./packages/quality-check/bin/pre-commit: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
