Repository nathanvale/orchestr8: changes, and which lint-staged commands are due for each by the changed paths.
All: ./packages/quality-check/bin/pre-commit, prettier --write

feat: add silent output mode for quality check hook
  .agent-os/instructions/core copy/execute-task.md
  .agent-os/recaps/2025-09-09-fix-test-failures.md
  .agent-os/specs/2025-09-09-markdown-prettier-support/spec-lite.md
  .agent-os/specs/2025-09-09-markdown-prettier-support/spec.md
  .agent-os/specs/2025-09-09-markdown-prettier-support/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-09-markdown-prettier-support/tasks.md
  .claude/agents copy/context-fetcher copy.md
  README.md
  packages/quality-check/src/bin/claude-hook.unit.test.ts
  packages/quality-check/src/facades/claude-xml-output.unit.test.ts
  packages/quality-check/src/facades/claude.ts
  packages/quality-check/src/facades/git-hook.test.ts
  packages/quality-check/src/formatters/output-formatter.ts
  packages/quality-check/src/formatters/output-formatter.unit.test.ts
  test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

chore: add .agentos to gitignore
  .gitignore
Due: none

style: apply prettier formatting
  README.md
  packages/quality-check/src/bin/claude-hook.unit.test.ts
  packages/quality-check/src/facades/git-hook.test.ts
  test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: ensure quality check hook skips non-JS/TS files
  README.md
  packages/quality-check/README.md
  packages/quality-check/src/facades/claude.ts
  packages/quality-check/test.js
  test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

style: apply prettier formatting
  packages/quality-check/src/bin/claude-hook.unit.test.ts
  packages/quality-check/src/facades/git-hook.test.ts
  test.js
Due: ./packages/quality-check/bin/pre-commit

fix: ensure quality check hook skips non-JS/TS files
  packages/quality-check/README.md
  packages/quality-check/src/facades/claude.ts
  packages/quality-check/test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

chore: remove test.js file from root
  test.js
Due: ./packages/quality-check/bin/pre-commit

fix: prevent test.js creation in root directory
  packages/quality-check/src/bin/claude-hook.unit.test.ts
Due: ./packages/quality-check/bin/pre-commit

chore: clean up recap file and add enhanced error reporting spec
  .agent-os/specs/2025-09-09-enhanced-error-reporting/spec-lite.md
  .agent-os/specs/2025-09-09-enhanced-error-reporting/spec.md
  .agent-os/specs/2025-09-09-enhanced-error-reporting/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-09-enhanced-error-reporting/tasks.md
  packages/quality-check/.agent-os/recaps/2025-09-08-quality-checker-v2-migration.md
Due: prettier --write

refactor: remove deprecated instruction components and update core task execution
  .agent-os/instructions/components/phase1-setup.xml
  .agent-os/instructions/components/phase2-execution.xml
  .agent-os/instructions/components/phase3-finalization.xml
  .agent-os/instructions/components/response-templates.xml
  .agent-os/instructions/components/state-machines.xml
  .agent-os/instructions/components/validation-gates.xml
  .agent-os/instructions/core/execute-task.md
Due: prettier --write

feat: implement enhanced error reporting with dual output support
  .agent-os/specs/2025-09-09-enhanced-error-reporting/tasks.md
  packages/quality-check/package.json
  packages/quality-check/src/services/OutputFormatter.ts
  packages/quality-check/src/services/OutputFormatter.unit.test.ts
  packages/quality-check/src/utils/logger-cleanup.test.ts
  packages/quality-check/src/utils/logger-file-operations.test.ts
  packages/quality-check/src/utils/logger-output-modes.test.ts
  packages/quality-check/src/utils/logger.test.ts
  packages/quality-check/src/utils/logger.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

style: apply prettier formatting to all files
  .agent-os/instructions/core/execute-task.md
  .agent-os/specs/2025-09-09-enhanced-error-reporting/spec-lite.md
  .agent-os/specs/2025-09-09-enhanced-error-reporting/spec.md
  .agent-os/specs/2025-09-09-enhanced-error-reporting/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-09-enhanced-error-reporting/tasks.md
  packages/quality-check/src/services/OutputFormatter.ts
  packages/quality-check/src/services/OutputFormatter.unit.test.ts
  packages/quality-check/src/utils/logger-cleanup.test.ts
  packages/quality-check/src/utils/logger-file-operations.test.ts
  packages/quality-check/src/utils/logger-output-modes.test.ts
  packages/quality-check/src/utils/logger.test.ts
  packages/quality-check/src/utils/logger.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: enhance error reporting with comprehensive logging and testing
  .agent-os/recaps/2025-09-09-enhanced-error-reporting.md
  packages/quality-check/src/core/quality-checker.error-handling.test.ts
  packages/quality-check/src/core/quality-checker.ts
  packages/quality-check/src/engines/eslint-engine.ts
  packages/quality-check/src/engines/eslint-engine.unit.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

style: apply prettier formatting to enhanced error reporting changes
  .agent-os/recaps/2025-09-09-enhanced-error-reporting.md
  packages/quality-check/src/core/quality-checker.ts
  packages/quality-check/src/engines/eslint-engine.ts
  packages/quality-check/src/engines/eslint-engine.unit.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete enhanced error reporting implementation
  .agent-os/specs/2025-09-09-enhanced-error-reporting/tasks.md
  packages/quality-check/src/core/quality-checker.ts
  packages/quality-check/src/engines/prettier-engine.ts
  packages/quality-check/src/engines/prettier-engine.unit.test.ts
  packages/quality-check/src/engines/typescript-engine.ts
  packages/quality-check/src/engines/typescript-engine.unit.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: implement minimal console error summary format (Task 6)
  .agent-os/recaps/2025-09-09-enhanced-error-reporting.md
  .agent-os/specs/2025-09-09-enhanced-error-reporting/tasks.md
  .agent-os/specs/2025-09-09-fix-first-hooks-architecture/spec-lite.md
  .agent-os/specs/2025-09-09-fix-first-hooks-architecture/spec.md
  .agent-os/specs/2025-09-09-fix-first-hooks-architecture/sub-specs/api-spec.md
  .agent-os/specs/2025-09-09-fix-first-hooks-architecture/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-09-fix-first-hooks-architecture/tasks.md
  packages/quality-check/src/core/quality-checker.ts
  packages/quality-check/src/services/OutputFormatter.ts
  packages/quality-check/src/services/OutputFormatter.unit.test.ts
  packages/quality-check/src/utils/logger.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: critical CI failures - pnpm setup order and missing scripts
  .github/workflows/ci.yml
  .github/workflows/nightly-performance.yml
  .github/workflows/release.yml
  package.json
Due: prettier --write

refactor: remove Bun references for PNPM-only setup
  vitest.config.ts
  vitest.setup.tsx
Due: ./packages/quality-check/bin/pre-commit

fix: add pnpm-lock.yaml to git tracking for CI
  .gitignore
  pnpm-lock.yaml
Due: prettier --write

fix: improve CI workflow for PR branch compatibility
  .github/workflows/ci.yml
  package.json
Due: prettier --write

chore: add pnpm-lock.yaml to prettier ignore
  .prettierignore
Due: none

feat: implement CI ADHD optimization with modular quality jobs
  .agent-os/specs/2025-09-10-ci-adhd-optimization/spec-lite.md
  .agent-os/specs/2025-09-10-ci-adhd-optimization/spec.md
  .agent-os/specs/2025-09-10-ci-adhd-optimization/sub-specs/api-spec.md
  .agent-os/specs/2025-09-10-ci-adhd-optimization/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-10-ci-adhd-optimization/tasks.md
  .github/workflows/ci.yml
  CLAUDE.md
  packages/quality-check/package.json
  packages/quality-check/tests/ci-modular-jobs.integration.test.ts
  packages/quality-check/tests/tsconfig.json
  packages/quality-check/tsconfig.json
  packages/quality-check/vitest.config.ts
  pnpm-lock.yaml
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: use correct typecheck script in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

style: apply prettier formatting to recap document
  .agent-os/recaps/2025-09-10-ci-adhd-optimization.md
Due: prettier --write

fix: resolve voice-vault logging TypeScript issues for CI compatibility
  packages/voice-vault/src/logging/index.ts
Due: ./packages/quality-check/bin/pre-commit

style: apply prettier formatting to voice-vault logging
  packages/voice-vault/src/logging/index.ts
Due: ./packages/quality-check/bin/pre-commit

feat: implement Progressive Testing Strategy for ADHD-optimized CI
  .agent-os/specs/2025-09-10-fix-ci-failures/spec-lite.md
  .agent-os/specs/2025-09-10-fix-ci-failures/spec.md
  .agent-os/specs/2025-09-10-fix-ci-failures/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-10-fix-ci-failures/tasks.md
  .agent-os/specs/ci-failure-fixes.md
  .github/workflows/ci.yml
  package.json
  tests/critical-path.smoke.test.ts
  tests/progressive-testing-tiers.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

docs: update ci-adhd-optimization spec status
  .agent-os/recaps/2025-09-10-ci-adhd-optimization.md
  .agent-os/specs/2025-09-10-ci-adhd-optimization/tasks.md
Due: prettier --write

feat: implement enhanced CI pipeline with ADHD-friendly optimizations
  .github/actions/status-reporter/action.yml
  .github/actions/status-reporter/status-generator.js
  .github/workflows/ci.yml
  packages/quality-check/src/core/file-matcher.test.ts
  packages/quality-check/src/engines/typescript-engine.test.ts
  packages/quality-check/src/test-utils/api-wrappers.ts
  tests/github-step-summaries.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: resolve formatting and type errors in CI workflow and test utilities
  .agent-os/recaps/2025-09-10-ci-adhd-optimization.md
  .github/actions/status-reporter/action.yml
  .github/workflows/ci.yml
  .prettierignore
  packages/quality-check/src/test-utils/api-wrappers.ts
  tests/github-step-summaries.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: add visual feedback verification and performance monitoring
  .agent-os/recaps/2025-09-10-ci-adhd-optimization.md
  .agent-os/recaps/2025-09-10-task3-visual-feedback-verification.md
  .agent-os/specs/2025-09-10-ci-adhd-optimization/tasks.md
  .github/workflows/ci.yml
  scripts/performance-monitor.js
  scripts/performance-monitor.ts
  tests/cache-effectiveness.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete Task 4 - Optimize Caching and Performance
  .agent-os/specs/2025-09-10-ci-adhd-optimization/tasks.md
  package.json
  scripts/ci-performance-check.js
  scripts/ci-performance-check.ts
  tests/cache-effectiveness.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: remove duplicate JavaScript files and format TypeScript files
  .agent-os/recaps/2025-09-10-ci-adhd-optimization.md
  .agent-os/recaps/2025-09-10-task3-visual-feedback-verification.md
  scripts/ci-performance-check.js
  scripts/ci-performance-check.ts
  scripts/performance-monitor.js
  scripts/performance-monitor.ts
  tests/cache-effectiveness.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete ADHD-optimized CI pipeline with cognitive load reduction
  .agent-os/recaps/2025-09-10-ci-adhd-optimization.md
  .agent-os/specs/2025-09-10-ci-adhd-optimization/tasks.md
  .github/workflows/ci.yml
  scripts/ci-breadcrumbs.js
  tests/cognitive-load-reducers.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: apply CodeRabbit review fixes
  .github/workflows/ci.yml
  packages/quality-check/package.json
Due: prettier --write

docs: update ci-adhd-optimization recap with completion status
  .agent-os/recaps/2025-09-10-ci-adhd-optimization.md
Due: prettier --write

test: add test workflow to diagnose CI issues
  .claude/commands/code-rabbit.md
  .github/workflows/test.yml
  scripts/manage-ruleset.sh
  scripts/setup-branch-protection.sh
Due: prettier --write

fix: resolve YAML syntax error in CI workflow audit step
  .github/workflows/ci.yml
Due: prettier --write

docs: trigger PR workflow after fixing CI syntax
  .github/workflows/test.yml
  README.md
Due: prettier --write

Path conditions:
  ./packages/quality-check/bin/pre-commit: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
