Repository nathanvale/orchestr8: changes, and which lint-staged commands are due for each by the changed paths.
All: ./packages/quality-check/bin/pre-commit, prettier --write

test: fix claude-hook unit test failures and enhance logging
  packages/quality-check/src/bin/claude-hook.unit.test.ts
  packages/quality-check/src/core/issue-reporter.ts
  packages/quality-check/src/facades/claude.ts
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
  packages/quality-check/src/utils/logger.ts
Due: ./packages/quality-check/bin/pre-commit

feat: enhance autopilot engine with robust testing and monitoring
  .agent-os/product/roadmap.md
  .agent-os/recaps/2025-09-05-autopilot-engine.md
  .agent-os/specs/2025-09-05-autopilot-engine/tasks.md
  .agent-os/standards/best-practices.md
  CODEOWNERS
  CONTRIBUTING.md
  DEPENDENCY-MANAGEMENT.md
  PUBLISH-QUALITY-CHECK.md
  REMOVE-CLAUDE-HOOKS.md
  TESTING-GUIDE.md
  packages/quality-check/src/adapters/autopilot.edge-cases.unit.test.ts
  packages/quality-check/src/adapters/autopilot.ts
  packages/quality-check/src/core/error-parser.performance.test.ts
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
  packages/quality-check/src/integration/config-variations.integration.test.ts
  packages/quality-check/src/monitoring/error-reporter.ts
  packages/quality-check/src/monitoring/index.ts
  packages/quality-check/src/monitoring/metrics-tracker.ts
  packages/quality-check/src/test-utils/test-isolation.ts
  test-temp/claude-test-1757052248046/package.json
  test-temp/claude-test-1757052248046/src/component.tsx
  test-temp/claude-test-1757052248046/tsconfig.json
Due: ./packages/quality-check/bin/pre-commit, prettier --write

wip
  .agent-os/instructions/core/analyze-product.md
  .agent-os/instructions/core/create-spec.md
  .agent-os/instructions/core/create-tasks.md
  .agent-os/instructions/core/execute-task.md
  .agent-os/instructions/core/execute-tasks.md
  .agent-os/instructions/core/plan-product.md
  .agent-os/instructions/core/post-execution-tasks.md
  .agent-os/instructions/meta/post-flight.md
  .agent-os/instructions/meta/pre-flight.md
  .agent-os/product/mission-lite.md
  .agent-os/product/mission.md
  .agent-os/product/roadmap.md
  .agent-os/product/tech-stack.md
  .agent-os/recaps/2025-09-05-autopilot-engine.md
  .agent-os/specs/2025-09-05-autopilot-engine/spec-lite.md
  .agent-os/specs/2025-09-05-autopilot-engine/spec.md
  .agent-os/specs/2025-09-05-autopilot-engine/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-05-autopilot-engine/sub-specs/tests.md
  .agent-os/specs/2025-09-05-autopilot-engine/tasks.md
  .agent-os/standards/best-practices.md
  .agent-os/standards/code-style.md
  .agent-os/standards/code-style/css-style.md
  .agent-os/standards/code-style/html-style.md
  .agent-os/standards/code-style/javascript-style.md
  .agent-os/standards/tech-stack.md
  .claude/agents/context-fetcher.md
  .claude/agents/date-checker.md
  .claude/agents/file-creator.md
  .claude/agents/git-workflow.md
  .claude/agents/project-manager.md
  .claude/agents/test-runner.md
  .claude/commands/create-spec.md
  packages/quality-check/src/core/quality-checker.ts
  test-temp/claude-test-1757052248046/package.json
  test-temp/claude-test-1757052248046/src/component.tsx
  test-temp/claude-test-1757052248046/tsconfig.json
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: implement Quality Checker Uplift with incremental compilation
  .agent-os copy/QC-TypeScript-ESLint-Prettier—Product-Spec.md
  .agent-os copy/QC-TypeScript-ESLint-Prettier—Technical-Design.md
  .agent-os copy/QUALITY-CHECKER-UPLIFT-PLAN-SPEC.md
  .agent-os copy/QUALITY-CHECKER-UPLIFT-PLAN.md
  .agent-os/instructions/core/execute-task.md
  .agent-os/product/roadmap.md
  .agent-os/specs/2025-01-05-quality-checker-uplift/spec-lite.md
  .agent-os/specs/2025-01-05-quality-checker-uplift/spec.md
  .agent-os/specs/2025-01-05-quality-checker-uplift/sub-specs/api-spec.md
  .agent-os/specs/2025-01-05-quality-checker-uplift/sub-specs/technical-spec.md
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
  .agent-os/standards/best-practices.md
  .agent-os/standards/testing-rules.xml
  .agent-os/standards/wallaby-rules.xml
  packages/quality-check/IMPLEMENTATION_SUMMARY.md
  packages/quality-check/spec/issues.schema.json
  packages/quality-check/spec/perf.schema.json
  packages/quality-check/src/core/config-loader.ts
  packages/quality-check/src/core/errors.ts
  packages/quality-check/src/core/file-matcher.ts
  packages/quality-check/src/core/quality-checker-v2.ts
  packages/quality-check/src/core/timeout-manager.ts
  packages/quality-check/src/engines/eslint-engine.ts
  packages/quality-check/src/engines/prettier-engine.ts
  packages/quality-check/src/engines/typescript-engine.ts
  packages/quality-check/src/engines/typescript-engine.unit.test.ts
  packages/quality-check/src/facades/cli-v2.ts
  packages/quality-check/src/formatters/aggregator.ts
  packages/quality-check/src/formatters/json-formatter.ts
  packages/quality-check/src/formatters/stylish-formatter.ts
  packages/quality-check/src/types/issue-types.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

wip
  .agent-os/recaps/2025-09-06-quality-checker-uplift.md
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
  packages/quality-check/src/engines/typescript-engine.ts
  packages/quality-check/src/engines/typescript-engine.unit.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete Quality Checker Uplift implementation
  .agent-os/instructions/core/execute-task.md
  .agent-os/instructions/core/execute-tasks.md
  .agent-os/instructions/meta/post-flight.md
  .agent-os/instructions/meta/pre-flight.md
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
  .claude/instructions copy/core/analyze-product.md
  .claude/instructions copy/core/create-spec.md
  .claude/instructions copy/core/create-tasks.md
  .claude/instructions copy/core/execute-task.md
  .claude/instructions copy/core/execute-tasks.md
  .claude/instructions copy/core/plan-product.md
  .claude/instructions copy/core/post-execution-tasks.md
  .claude/instructions copy/meta/post-flight.md
  .claude/instructions copy/meta/pre-flight.md
  packages/quality-check/src/engines/eslint-engine.ts
  packages/quality-check/src/engines/eslint-engine.unit.test.ts
  packages/quality-check/src/engines/prettier-engine.ts
  packages/quality-check/src/engines/prettier-engine.unit.test.ts
  packages/quality-check/src/engines/typescript-engine.unit.test.ts
  packages/quality-check/src/facades/cli-v2.ts
  packages/quality-check/src/facades/cli.ts
  packages/quality-check/src/formatters/aggregator.ts
  packages/quality-check/src/formatters/aggregator.unit.test.ts
  packages/quality-check/src/formatters/json-formatter.unit.test.ts
  packages/quality-check/src/formatters/stylish-formatter.unit.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

style: apply prettier formatting
  packages/quality-check/IMPLEMENTATION_SUMMARY.md
  packages/quality-check/spec/issues.schema.json
  packages/quality-check/spec/perf.schema.json
Due: prettier --write

wip
  .agent-os/instructions/core/execute-tasks.md
Due: prettier --write

feat: complete Quality Checker Uplift implementation
  .agent-os/instructions/core/execute-tasks.md
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
  packages/quality-check/README.md
  packages/quality-check/src/core/performance-monitor.ts
  packages/quality-check/src/core/performance-monitor.unit.test.ts
  packages/quality-check/src/facades/cli.ts
  packages/quality-check/test-precommit.js
  packages/quality-check/tests/ci-cd-pipeline.integration.test.ts
  packages/quality-check/tests/performance-benchmark.test.ts
  packages/quality-check/tests/quality-checker-full.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

wip
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
  .husky/pre-commit
  packages/quality-check/test-precommit.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: add TypeScript engine cache state management and update task breakdown
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
  packages/quality-check/src/facades/claude-v2.ts
  packages/quality-check/src/facades/claude-v2.unit.test.ts
  packages/quality-check/src/formatters/claude-formatter.ts
  packages/quality-check/src/formatters/claude-formatter.unit.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: mark tasks for Claude formatter as complete
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
Due: prettier --write

feat: add MCP server configuration
  .mcp.json
Due: prettier --write

feat: complete Quality Checker Uplift implementation
  .agent-os copy/QC-TypeScript-ESLint-Prettier—Product-Spec.md
  .agent-os copy/QC-TypeScript-ESLint-Prettier—Technical-Design.md
  .agent-os copy/QUALITY-CHECKER-UPLIFT-PLAN-SPEC.md
  .agent-os copy/QUALITY-CHECKER-UPLIFT-PLAN.md
  .agent-os/instructions/core/execute-task.md
  .agent-os/instructions/core/execute-tasks.md
  .agent-os/instructions/meta/post-flight.md
  .agent-os/instructions/meta/pre-flight.md
  .agent-os/product/roadmap.md
  .agent-os/specs/2025-01-05-quality-checker-uplift/spec-lite.md
  .agent-os/specs/2025-01-05-quality-checker-uplift/spec.md
  .agent-os/specs/2025-01-05-quality-checker-uplift/sub-specs/api-spec.md
  .agent-os/specs/2025-01-05-quality-checker-uplift/sub-specs/technical-spec.md
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
  .mcp.json
  packages/quality-check/README.md
  packages/quality-check/src/adapters/autopilot.ts
  packages/quality-check/src/adapters/autopilot.unit.test.ts
  packages/quality-check/src/core/issue-reporter.ts
  packages/quality-check/src/core/issue-reporter.unit.test.ts
  packages/quality-check/src/facades/claude-facade-v2.ts
  packages/quality-check/src/facades/claude-hook.integration.test.ts
  packages/quality-check/src/facades/claude-v2.ts
  packages/quality-check/src/facades/claude.ts
  packages/quality-check/src/facades/cli.ts
  packages/quality-check/src/facades/git-hook.ts
  packages/quality-check/src/test/performance.test.ts
  packages/quality-check/src/types.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: add tasks for fixing broken performance tests and optimizing benchmarks
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
Due: prettier --write

feat: fix performance tests and enable TypeScript incremental compilation
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
  packages/quality-check/src/core/performance-monitor.ts
  packages/quality-check/src/core/performance-monitor.unit.test.ts
  packages/quality-check/src/engines/typescript-engine.ts
  packages/quality-check/src/index.ts
  packages/quality-check/tests/performance-benchmark.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: enhance task execution rules and validation checkpoints in execute-tasks.md
  .agent-os/instructions/core/execute-tasks copy.md
  .agent-os/recaps/2025-01-05-quality-checker-uplift.md
Due: prettier --write

feat: complete quality checker uplift tasks
  .agent-os/instructions/meta/post-flight.md
  .agent-os/instructions/meta/pre-flight.md
  .agent-os/specs/2025-09-07-fix-skipped-tests/tasks.md
Due: prettier --write

wip
  .agent-os/instructions copy/core/analyze-product.md
  .agent-os/instructions copy/core/create-spec.md
  .agent-os/instructions copy/core/create-tasks.md
  .agent-os/instructions copy/core/execute-task.md
  .agent-os/instructions copy/core/execute-tasks copy.md
  .agent-os/instructions copy/core/execute-tasks.md
  .agent-os/instructions copy/core/execute-tasks.xml
  .agent-os/instructions copy/core/plan-product.md
  .agent-os/instructions copy/core/post-execution-tasks.md
  .agent-os/instructions copy/meta/post-flight.md
  .agent-os/instructions copy/meta/pre-flight.md
  .agent-os/instructions/core/execute-tasks-master.xml
  .agent-os/instructions/core/post-execution-tasks.xml
  .agent-os/instructions/meta/post-flight.xml
  .agent-os/instructions/meta/pre-flight.xml
  .agent-os/specs/2025-01-05-quality-checker-uplift/execution-recap.md
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
  .claude/agents copy/claude-prompt-creator.md
  .claude/agents copy/claude-prompt-reviewer.md
  .claude/agents copy/context-fetcher.md
  .claude/agents copy/date-checker.md
  .claude/agents copy/file-creator.md
  .claude/agents copy/git-workflow.md
  .claude/agents copy/project-manager.md
  .claude/agents copy/prompt-engineer copy.md
  .claude/agents copy/prompt-engineer.md
  .claude/agents copy/security-validator.md
  .claude/agents copy/semantic-intelligence copy.md
  .claude/agents copy/semantic-intelligence.md
  .claude/agents copy/structural-optimizer.md
  .claude/agents copy/test-runner.md
  packages/quality-check/src/core/quality-checker.ts
  packages/quality-check/tests/ci-cd-pipeline.integration.test.ts
  packages/quality-check/tests/quality-checker-full.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete quality checker uplift tasks
  .agent-os/specs/2025-09-07-fix-skipped-tests/tasks.md
  packages/quality-check/src/adapters/autopilot.ts
  packages/quality-check/src/core/quality-checker-v2.ts
  packages/quality-check/src/engines/typescript-engine.ts
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
  packages/quality-check/src/integration/config-variations.integration.test.ts
  packages/quality-check/test-strict.ts
  test-strict-check.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

wip
  .agent-os/specs/2025-09-07-fix-skipped-tests/execution-recap.md
Due: prettier --write

fix: resolve linting errors and update test expectations
  packages/quality-check/src/core/quality-checker.unit.test.ts
  packages/quality-check/src/engines/typescript-engine.ts
  packages/quality-check/src/formatters/output-formatter.ts
  packages/quality-check/src/formatters/output-formatter.unit.test.ts
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
  packages/quality-check/src/integration/config-variations.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit

wip
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
  packages/quality-check/src/bin/claude-hook.unit.test.ts
  packages/quality-check/src/core/config-loader.ts
  packages/quality-check/src/core/file-matcher.ts
  packages/quality-check/src/core/timeout-manager.ts
  packages/quality-check/src/engines/eslint-engine.ts
  packages/quality-check/src/engines/prettier-engine.ts
  packages/quality-check/src/facades/claude-xml-output.unit.test.ts
  packages/quality-check/src/facades/claude.ts
  packages/quality-check/test-cwd-debug.sh
  packages/quality-check/test-debug.js
  packages/quality-check/test-hook-debug.sh
  packages/quality-check/test.js
  test-temp/claude-test-1757241397442/package.json
  test-temp/claude-test-1757241397442/src/component.tsx
  test-temp/claude-test-1757241397442/tsconfig.json
  test-temp/eslint-config-test-1757241397564/.eslintrc.json
  test-temp/eslint-config-test-1757241397564/package.json
  test-temp/eslint-config-test-1757241397564/src/standard-style.js
  test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: update TypeScript strict mode test expectations
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
  packages/quality-check/src/integration/config-variations.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: complete quality checker uplift tasks
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
  packages/quality-check/src/adapters/autopilot.ts
  packages/quality-check/src/integration/config-variations.integration.test.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete tasks from 2025-01-05-quality-checker-uplift
  .agent-os/instructions/core/execute-tasks-examples.md
  .agent-os/instructions/core/execute-tasks-master-v6.xml
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
  packages/quality-check/src/adapters/autopilot.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: complete tasks from 2025-01-05-quality-checker-uplift
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
  packages/quality-check/src/facades/claude.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

chore: remove debug file causing lint errors
  packages/quality-check/test-debug.js
Due: ./packages/quality-check/bin/pre-commit

style: format remaining file
  .agent-os/instructions copy/core/post-execution-tasks.md
Due: prettier --write

wip
  .claude/commands/execute-tasks.md
  test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete tasks from 2025-01-05-quality-checker-uplift
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
  test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete tasks from 2025-09-07-integration-test-modernization
  .agent-os/specs/2025-09-07-integration-test-modernization/tasks.md
Due: prettier --write

feat: complete tasks from 2025-09-07-integration-test-modernization
  .agent-os/specs/2025-09-07-integration-test-modernization/execution-recap.md
  .agent-os/specs/2025-09-07-integration-test-modernization/tasks.md
  packages/quality-check/src/test-utils/api-wrappers.ts
  packages/quality-check/src/test-utils/assertion-helpers.ts
  packages/quality-check/src/test-utils/fixture-factory.test.ts
  packages/quality-check/src/test-utils/mock-utilities.ts
  packages/quality-check/src/test-utils/modern-fixtures.ts
  packages/quality-check/src/test-utils/performance.test.ts
  packages/quality-check/src/test-utils/vitest-integration.test.ts
  test-temp/claude-test-1757252066111/package.json
  test-temp/claude-test-1757252066111/src/test.ts
  test-temp/claude-test-1757252066111/tsconfig.json
  test-temp/eslint-config-test-1757252066099/.eslintrc.json
  test-temp/eslint-config-test-1757252066099/package.json
  test-temp/eslint-config-test-1757252066099/src/airbnb-style.js
  test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

wip
  .agent-os/specs/2025-01-05-quality-checker-uplift/tasks.md
  .agent-os/specs/2025-09-07-integration-test-modernization/execution-recap.md
  .agent-os/specs/2025-09-07-integration-test-modernization/tasks.md
  .claude/commands/execute-tasks.md
  packages/quality-check/test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete tasks from 2025-09-07-integration-test-modernization
  .agent-os/specs/2025-09-07-integration-test-modernization/tasks.md
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
  packages/quality-check/src/integration/config-variations.integration.test.ts
  packages/quality-check/src/test-utils/autofix-behavior.test.ts
  packages/quality-check/src/test-utils/exit-code-logic.test.ts
  packages/quality-check/src/test-utils/modern-fixtures.ts
Due: ./packages/quality-check/bin/pre-commit, prettier --write

feat: complete tasks from 2025-09-07-integration-test-modernization
  .agent-os/specs/2025-09-07-integration-test-modernization/execution-recap.md
  .agent-os/specs/2025-09-07-integration-test-modernization/modernization-guide.md
  .agent-os/specs/2025-09-07-integration-test-modernization/tasks.md
  packages/quality-check/src/integration/claude-hook-workflow.integration.test.ts
  packages/quality-check/src/integration/config-variations.integration.test.ts
  packages/quality-check/src/test-utils/api-wrappers.ts
  packages/quality-check/src/test-utils/assertion-helpers.ts
  packages/quality-check/src/test-utils/autofix-behavior.test.ts
  packages/quality-check/src/test-utils/exit-code-logic.test.ts
  packages/quality-check/src/test-utils/fixture-factory.test.ts
  packages/quality-check/src/test-utils/modern-fixtures.ts
  packages/quality-check/src/test-utils/performance.test.ts
  packages/quality-check/src/test-utils/vitest-integration.test.ts
  packages/quality-check/test.js
  test-temp/claude-test-1757252066111/package.json
  test-temp/claude-test-1757252066111/src/test.ts
  test-temp/claude-test-1757252066111/tsconfig.json
  test-temp/eslint-config-test-1757252066099/.eslintrc.json
  test-temp/eslint-config-test-1757252066099/package.json
  test-temp/eslint-config-test-1757252066099/src/airbnb-style.js
  test.js
Due: ./packages/quality-check/bin/pre-commit, prettier --write

fix: remove incorrectly placed test files from test-utils directory
  packages/quality-check/src/test-utils/autofix-behavior.test.ts
  packages/quality-check/src/test-utils/exit-code-logic.test.ts
  packages/quality-check/src/test-utils/fixture-factory.test.ts
  packages/quality-check/src/test-utils/performance.test.ts
  packages/quality-check/src/test-utils/vitest-integration.test.ts
Due: ./packages/quality-check/bin/pre-commit

Path conditions:
  ./packages/quality-check/bin/pre-commit: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
